/* main */

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    /* height:100%; */
    /* position:relative; */
}

/* header */

.main-nav {
    width: 100%;
    display: flex;
    align-items: center;
}

.logo {
    height: 60px;
}

.nav-item {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    align-items: center;
}
.status-container{
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.profile{
    display:flex;
    justify-content: center;
    align-content: center;

}
.log-in,
.log-out {
    line-height: 30px;
    text-decoration:none;
    color: #000;
}
.user-photo{
    width:30px;
    height:30px;
    border-radius: 50%;
    margin-right:5px;
}

/* main picutre */

.landing-main {
    display: flex;
    width: 100%;
    min-height: calc(100vh - 60px);
    overflow: hidden;
    background-color:#D63864;
}
.landing-main-picture{
    flex:1.6;
    display:flex;
    justify-content: center;
    align-items: center;
}

.landing-main-story{
    flex:1;
    display:flex;
    flex-direction: column;
    /* justify-content: center; */
    /* text-align: center; */
    color:#fff;
  
}

.landing-main-image-people{
    max-width:80%;
    max-height: 80%;
    width: auto;
    height: auto;
    box-shadow: 3px 3px 6px #990033;
}

.landing-main-text{
    font-size: 40px;
    margin-top:45%;
}

.landing-main-text-supplement{
    font-size:24px;

}

/* footer */

.footer {
    display: block;
    /* position: fixed; */
    bottom: 0px;
    width: 100%;
    height: 200px;
    background-color: #000;
}

.footer-nav {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    height: 200px;
    margin: 0 auto;
    align-items: center;
    color: #fff;
}

.footer-logo {
    width: 60px;
    height: 60px;
}

@media (max-width: 767.98px) {
    .footer {
        height:250px;
    }
    .footer-nav  {
        flex-direction: column;
        /* justify-items: ; */
    }
}

/* memberPage */

.signin {
    display: flex;
    min-height:100vh;
    background-color:#F7F1EA;
    justify-content: center;
    

    background-image: url("../src/assets/signin-background10.jpg");
    background-repeat: repeat-y;
    background-position:50% 50%;
}

.signin-container {
    align-self: center;
    display:flex;
    justify-content: center;
    z-index: 100;
    width: 45%;
    box-shadow: 3px 3px 6px #666;
    background-color: #FFF;
}
.signin-form,
.register-form{
    margin: 5% 0;
    width:80%;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1199.98px) {
    .signin-container {
        width: 60%;
    }
}

@media (max-width: 767.98px) {
    .signin-container {
        width: 85%; 
        /* flex-direction: column;
        align-items: center; */
    }
}



.signin-title,
.register-title{
    font-size: 26px;
}



.signin-form-input{
    border: none;
    padding: 9px 15px;
    background: #f5f6f7;
    color: #444;
    -webkit-box-shadow: inset 0px 2px 3px rgba(0,0,0,0.03);
    box-shadow: inset 0px 2px 3px rgba(0,0,0,0.03);
    outline: none;
    margin-bottom: 5%;
}
.signin-submit,
.register-submit{
    box-sizing: border-box;
    background: #D63864;
    border: none;
    padding: 12px;
    font-size:15px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 5%;

}


.signin-logo{
    width:40%;
    align-self: center;
    margin:2% 0;
    
}
.signin-email,
.register-email{
    margin-top:5%;
}
.form-title{
    text-align: left;
}

.divider {
position: relative;
width:100%;
overflow: visible;
text-align: center;
border-bottom: 1px solid #e0e0e0 ;
}
.divider-or::after {
    position: absolute;
    top: -13px;
    content: 'or';
    background: #ffffff;
    color: #e0e0e0;
}

.google-signin{
    display: flex;
    justify-content: center;
    width:100%;
    border:1px solid #AAAAAA;
    box-sizing: border-box;
    padding: 12px;
    font-size:15px;
    color: #000;
    cursor: pointer;
    margin: 5% 0;
}
.google-icon{
    width:20px;
    height:20px;
    margin:1px 10px  0  0;
}

.button-to-change-account-status{
    cursor: pointer;
    color:#D63864;
}
/* Workspace */

.workspace{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fdf5e6;
}


.projects{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

}

.project-each{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 2% 1.76%;
    width: 22.8%;
    /* height: 20vw; */
    box-shadow: 3px 3px 6px #666;
}

.project-background{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    
}

.delete-project{
    width:5%;
    z-index: 100;
    margin-bottom: -6%;
    margin-right: 1%;
    align-self: flex-end;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
}



.project-picture{
    width: 94%;
    height: 80%;
    margin-top:3%;
    overflow: hidden;
}

.project-name{
    width: 94%;
    margin: 2% 0;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
.add-project-background{
    display: flex;
    flex-direction: row-reverse;
    height:6vw;
    align-self: flex-end;
    width:12%;
    margin-right:1.76%;
}
.add-project{
    width: 80%;
    height:40px;
    text-align: center;
    line-height: 40px;
    color:#fff;
    text-decoration: none;
    border-radius: 8px;
    margin: 10% 0;
    background-color: #D63864;
    box-shadow: 3px 3px 6px #666;
    display:flex;
    justify-content: center;
}
.icon-add{
    width:20px;
    height:20px;
    margin-top: 10px;
    margin-right:5px;
}
.warning-text{
    font-size:12px;
    color:red;
}


.add-project:hover{
    cursor: pointer;
    opacity: 80%;
    /* background-color: #990033; */
    /* background: -webkit-linear-gradient(#FF9999, #fff);
    background: -o-linear-gradientgradient(#FF9999, #fff);
    background: -moz-linear-gradientgradient(#FF9999, #fff);
    background: linear-gradientgradient(#FF9999, #fff); */
}

.nav-bar{
    width: 100%;
    height: 40px;
    background-color: #990033;
    color: #fff;
    line-height: 40px;
}

.nav-bar-item{
    display:flex;
    list-style-type: none;
    margin: 0;
    
    text-decoration: none;
}
.workspace-direct{
    text-decoration: none;
   color: #fff;
    cursor: pointer;
    margin-right:2%;
    font-weight: bold;
}

/* Survey Page */

.survey-page{
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: #fdf5e6;
    justify-content: center;
}
.survey-container{
    display: flex;
    justify-content: center;
    padding: 5%;
    width: 50%;
    margin: 5% 0;
    background-color:#fff;
    box-shadow: 3px 3px 6px #666;
}
.survey-questions{
    width:80%;
    display: flex;
    flex-direction: column;
}
.survey-instruction{
    font-size: 26px;
    margin-bottom: 7%;

}
.survey-title{
    font-size: 20px;
}
.type-label{
    flex:1;
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.tooltip-icon{
    margin-left:1%;
    width:12px;
    height:12px;
    align-self: flex-start;
    
}
.tooltip-context{
    font-size:12px;
}

.survey-input{
    border: none;
    padding: 9px 15px;
    background: #f5f6f7;
    color: #444;
    -webkit-box-shadow: inset 0px 2px 3px rgba(0,0,0,0.03);
    box-shadow: inset 0px 2px 3px rgba(0,0,0,0.03);
    outline: none;
    margin-bottom: 5%;
}
.survey-input-textarea{
    border: none;
    height:30%;
    padding: 9px 15px;
    background: #f5f6f7;
    color: #444;
    -webkit-box-shadow: inset 0px 2px 3px rgba(0,0,0,0.03);
    box-shadow: inset 0px 2px 3px rgba(0,0,0,0.03);
    outline: none;
    margin-bottom: 5%;
}
.survey-radio-options{
    display:flex;
    justify-content: space-between;
    width:50%;
    padding: 9px 15px;
    margin-bottom: 5%;
    
}

.survey-upload-file,
.upload-title{
    padding: 9px 15px;
}
.upload-from-unsplash{
    padding-top:5px;
}

.survey-buttons{
    display: flex;
    justify-content: space-between;
    margin-top:10%;
}
.survey-button{
    width:30%;
    box-sizing: border-box;
    background: #D63864;
    border: none;
    padding: 12px;
    font-size:15px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 5%;
    outline: none;
    border-radius: 5px;
}
.survey-button-submit:hover{
    background:#990033;
}
.survey-button-reset,
.survey-button-save{
    background: #D63864;
    opacity: 40%;
}
.survey-button-reset:hover,
.survey-button-save:hover{
    opacity: 100%;
}

.each-upload-picture-container{
    display: flex;
    flex-direction: column;
    padding:1% 2%;
    border-top: 1px solid #f5f6f7;
    border-bottom: 1px solid #f5f6f7;
    border-radius: 7px;
    margin-bottom: 5%;
    min-height:300px;
}

.each-upload-title{
    display:flex;
    flex-direction: row;
}
.delete-upload-container{
    flex:1;
    display:flex;
    justify-content: flex-end;
}
.delete-upload-picture{
    width:20px;
    height:20px;
}
.each-upload-details{
    flex:1;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.upload-picture-container{
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.upload-picture{
    max-height: 265px;
    max-width:90%;
    height:auto;
    width:auto;
}

.upload-picture:hover{
    transform: scale(2);
    z-index: 100;
    cursor: pointer;

}


.survey-upload-picture-explanation{
    width:45%;
    display: flex;
    flex-direction: column;
}

.survey-explanation-textarea{
    flex:1;
    border: none;
    background: #f5f6f7;
    color: #444;
    -webkit-box-shadow: inset 0px 2px 3px rgba(0,0,0,0.03);
    box-shadow: inset 0px 2px 3px rgba(0,0,0,0.03);
    outline: none;
}
/* Unsplash */

.unsplash-popup{
    display:block;
    z-index: 3000;
    width:100px;
    height:100px;
    background-color: #D63864;
}


/* Canvas */

.canvas-main{
    display:flex;

}

.version-control-background{
   
    min-height: 100vh;
    width:20%;
    background-color: #fdf5e6;

}
.project-information{
    width:80vw;
    /* height: 20%; */
    /* background-color: #fdf5e6; */
    border: 1px solid #000;
    font-size: 12px;
    color: #000;
}
.project-information-button{
    width:80vw;
    height:20px;
    background-color:#000;
    color: #fff;
    cursor: pointer;
    outline:none;
    text-align: center;
}

.project-information-details{
    margin-left: 2%;

}

.project-info-image{
    width:30%;
    /* height:300px; */
    
}
.version-number{
    margin:5px 20%;
}
.canvas{
    display:flex;
    flex-direction: column;
}
.version-image{
    width:90%;
    margin:0 5%;
}
.main-design-background{
    display: flex;
    justify-content: center;

}
.main-design-picture{
    margin:10% 0;
    width:auto;
    height:auto;
    max-width: 80%;
    max-height:80%;
    
    
}

.icon-pin{
    align-self: flex-end;
    width:40px;
    height:40px;
    cursor:pointer;
}


