/* main */

html {
    height: 100%;
}


body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    /* display: flex; */
    /* flex-direction: column; */
    /* height:100%; */
    /* position:relative; */
}

/* header */

.main-nav {
    width: 100%;
    display: flex;
    align-items: center;
}

.logo {
    height: 60px;
}

.nav-item {
    flex: 1;
    height:65px;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    align-items: center;
}
.status-container{
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.profile{
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
    height:65px;

}

.submenu{
    display:none;
}

.profile:hover .submenu{
    display:block;
    position:absolute;
    top:40px;
    right:0;
    width:70px;
    background-color:#fff;
    text-align:center;
    cursor: pointer;
    list-style: none;
    
}

.submenu-item{
    line-height:40px;
    text-align:center;
    align-self:center;
    margin:0 auto;
}


.log-in,
.log-out {
    line-height: 30px;
    text-decoration:none;
    color: #000;
}
.user-photo{
    width:30px;
    height:30px;
    border-radius: 50%;
    margin-right:5px;
}

/* main picutre */

.landing-main {
    display: flex;
    width: 100%;
    min-height: calc(100vh - 60px);
    overflow: hidden;
    background-color:#D63864;
}
.landing-main-picture{
    flex:1.2;
    display:flex;
    justify-content: center;
    align-items: center;
}

.landing-main-story{
    flex:1;
    display:flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: center;
    align-items: center;
    color:#fff;
  
}

.landing-main-image-people{
    max-width:85%;
    max-height: 85%;
    width: auto;
    height: auto;
    box-shadow: 3px 3px 6px #990033;
}

.landing-main-text{
    font-size: 40px;
    margin-top:35%;
}

.landing-main-text-supplement{
    font-size:24px;
	

}

.landing-scroll-down{
    width:40px;
    margin-top:5%;

    animation: scrollDown;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes scrollDown {
	0% {
		opacity: 1;
		transform: translateY(0) ;
	}

	50% {
		opacity: 0;
		transform: translateY(10px) ;
	}

	75% {
		opacity: 0;
		transform: translateY(0) ;
	}

	100% {
		opacity: 1;
		transform: translateY(0) ;
	}
}

/* footer */

.footer {
    display: block;
    /* position: fixed; */
    bottom: 0px;
    width: 100%;
    height: 200px;
    background-color: #000;
}

.footer-nav {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    height: 200px;
    margin: 0 auto;
    align-items: center;
    color: #fff;
}

.footer-logo {
    width: 60px;
    height: 60px;
}

@media (max-width: 767.98px) {
    .footer {
        height:250px;
    }
    .footer-nav  {
        flex-direction: column;
        /* justify-items: ; */
    }
}

/* memberPage */

.signin {
    display: flex;
    min-height:100vh;
    background-color:#F7F1EA;
    justify-content: center;
    

    background-image: url("../src/assets/signin-background10.jpg");
    background-repeat: repeat-y;
    background-position:50% 50%;
}

.signin-container {
    align-self: center;
    display:flex;
    justify-content: center;
    z-index: 100;
    width: 45%;
    box-shadow: 3px 3px 6px #666;
    background-color: #FFF;
}
.signin-form,
.register-form{
    margin: 5% 0;
    width:80%;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1199.98px) {
    .signin-container {
        width: 60%;
    }
}

@media (max-width: 767.98px) {
    .signin-container {
        width: 85%; 
        /* flex-direction: column;
        align-items: center; */
    }
}



.signin-title,
.register-title{
    font-size: 26px;
}



.signin-form-input{
    border: none;
    padding: 9px 15px;
    background: #f5f6f7;
    color: #444;
    -webkit-box-shadow: inset 0px 2px 3px rgba(0,0,0,0.03);
    box-shadow: inset 0px 2px 3px rgba(0,0,0,0.03);
    outline: none;
    margin-bottom: 5%;
}
.signin-submit,
.register-submit{
    box-sizing: border-box;
    background: #D63864;
    border: none;
    padding: 12px;
    font-size:15px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 5%;

}


.signin-logo{
    width:40%;
    align-self: center;
    margin:2% 0;
    
}
.signin-email,
.register-email{
    margin-top:5%;
}
.form-title{
    text-align: left;
}

.divider {
position: relative;
width:100%;
overflow: visible;
text-align: center;
border-bottom: 1px solid #e0e0e0 ;
}
.divider-or::after {
    position: absolute;
    top: -13px;
    content: 'or';
    background: #ffffff;
    color: #e0e0e0;
}

.google-signin{
    display: flex;
    justify-content: center;
    width:100%;
    border:1px solid #AAAAAA;
    box-sizing: border-box;
    padding: 12px;
    font-size:15px;
    color: #000;
    cursor: pointer;
    margin: 5% 0;
}
.google-icon{
    width:20px;
    height:20px;
    margin:1px 10px  0  0;
}

.button-to-change-account-status{
    cursor: pointer;
    color:#D63864;
}


/* Survey Page */

.survey-page{
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: #fdf5e6;
    justify-content: center;
}
.survey-container{
    display: flex;
    justify-content: center;
    padding: 5%;
    width: 50%;
    margin: 5% 0;
    background-color:#fff;
    box-shadow: 3px 3px 6px #666;
}
.survey-questions{
    width:80%;
    display: flex;
    flex-direction: column;
}
.survey-instruction{
    font-size: 26px;
    margin-bottom: 7%;

}
.survey-title{
    font-size: 20px;
}
.type-label{
    flex:1;
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.tooltip-icon{
    margin-left:1%;
    width:12px;
    height:12px;
    align-self: flex-start;
    
}
.tooltip-context{
    font-size:12px;
}

.survey-input{
    border: none;
    padding: 9px 15px;
    background: #f5f6f7;
    color: #444;
    -webkit-box-shadow: inset 0px 2px 3px rgba(0,0,0,0.03);
    box-shadow: inset 0px 2px 3px rgba(0,0,0,0.03);
    outline: none;
    margin-bottom: 5%;
    width:95%;
}
.survey-input-textarea{
    border: none;
    max-width:95%;
    min-width:95%;
    height:20%;
    padding: 9px 15px;
    background: #f5f6f7;
    color: #444;
    -webkit-box-shadow: inset 0px 2px 3px rgba(0,0,0,0.03);
    box-shadow: inset 0px 2px 3px rgba(0,0,0,0.03);
    outline: none;
    margin-bottom: 5%;
}
.survey-radio-options{
    display:flex;
    justify-content: space-between;
    width:50%;
    padding: 9px 15px;
    margin-bottom: 5%;
    
}

.survey-upload-file,
.upload-title{
    padding: 9px 15px;
}
.upload-from-unsplash{
    padding-top:5px;
}

.survey-buttons{
    display: flex;
    justify-content: space-between;
    margin-top:10%;
}
.survey-button{
    width:30%;
    box-sizing: border-box;
    background: #D63864;
    border: none;
    padding: 12px;
    font-size:15px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 5%;
    outline: none;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #666;
}
.survey-button-submit:hover{
    background:#990033;
}
.survey-button-reset,
.survey-button-save{
    background: #D63864;
    opacity: 40%;
}
.survey-button-reset:hover,
.survey-button-save:hover{
    opacity: 100%;
}

.each-upload-picture-container{
    display: flex;
    flex-direction: column;
    padding:1% 2%;
    border-top: 1px solid #f5f6f7;
    border-bottom: 1px solid #f5f6f7;
    border-radius: 7px;
    margin-bottom: 5%;
    min-height:300px;
}

.each-upload-title{
    display:flex;
    flex-direction: row;
}
.delete-upload-container{
    flex:1;
    display:flex;
    justify-content: flex-end;
}
.delete-upload-picture{
    width:20px;
    height:20px;
}
.each-upload-details{
    flex:1;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.upload-picture-container{
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.upload-picture{
    max-height: 265px;
    max-width:90%;
    height:auto;
    width:auto;
}

.upload-picture:hover{
    transform: scale(2);
    z-index: 100;
    cursor: pointer;

}


.survey-upload-picture-explanation{
    width:45%;
    display: flex;
    flex-direction: column;
}

.survey-explanation-textarea{
    flex:1;
    border: none;
    background: #f5f6f7;
    color: #444;
    -webkit-box-shadow: inset 0px 2px 3px rgba(0,0,0,0.03);
    box-shadow: inset 0px 2px 3px rgba(0,0,0,0.03);
    outline: none;
}
/* Unsplash */

.unsplash-popup{
    display:block;
    z-index: 3000;
    width:100px;
    height:100px;
    background-color: #D63864;
}


/* Canvas */

.canvas-page{
    display:flex;
    flex-direction:column;
    width:100%;

}

/* version control bar */

.version-control-container{
    display:flex;
    overflow:scroll;
    width:20%;
    min-height:100vh;
}
.version-control-button{
    width:10px;
    background-color: #D63864;
    height:100%;
}
.version-upload-button{
    width:80%;
}

.version-control-background{
   display:flex;
   flex-direction: column;
   align-items: center;
    /* min-height: 100vh; */
    /* width:98%; */
    flex:1;
    
    background-color: #fdf5e6;

}

/* canvas */

.canvas{
    flex:1;
    display:flex;
   
    
}
.function-button{
    display:flex;
    align-items: center;
    height:30px;
    padding: 0 40px;
    color:#FFF;
    background-color:#000;
}

.button-project{
    cursor:pointer;
}
.button-member{
    margin-left:2%;
    cursor:pointer;
}
.button-fold{
    flex:1;
    display:flex;
    justify-content: flex-end;
    
}

.icon-fold{
    width:12px;
    height:12px;
    cursor: pointer;
}

.project-information{
    display: flex;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    font-size: 12px;
    color: #000;
    max-height:450px;
}
.project-information-details{
    display:flex;
    width:100%;
}
.project-info-part1{
    flex:1;
    overflow-y:auto;
    margin:1%;
}
.project-info-part2{
    flex:1;
    margin:1% 1% 1% 0;
    overflow-y:auto;
}

.profile-reference-images{
    margin-top:1%;
}
.profile-reference-each{
    display:flex;
    align-items: center;
    border-top:1px solid #666;
    padding:0.5%;  
}
.profile-reference-each-image-container{
    flex:1;
    height:170px;
    display:flex;
    justify-content: center;
    align-items: center;

}
.profile-reference-each-image{
    width:auto;
    height:auto;
    max-height:160px;
    max-width:160px;
}
.profile-reference-each-description{
    flex:1;
}

.project-info-image{
    width:30%;
}


.project-info-edit{
    width:30px;
    height:30px;

}

/* invitation */

.team-member-container{
    display:flex;
    width:100%;
    padding:2%;
    height:30%;
}
.input-invited-email{
margin:4% 3%;
border: none;
    padding: 9px 15px;
    background: #f5f6f7;
    color: #444;
    -webkit-box-shadow: inset 0px 2px 3px rgba(0,0,0,0.03);
    box-shadow: inset 0px 2px 3px rgba(0,0,0,0.03);
    outline: none;
    width:50%;

}

.invite-submit{
    box-sizing: border-box;
    background: #D63864;
    border: none;
    padding: 8px;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}

.invitation-input-warning{
    font-size:8px;
    color:#D63864;
    margin:0 20% 0 10%;
}

.team-member-invitation{
    flex:1;
}

.project-member-list{
    display:flex;
    flex:1;
}

.project-member-container,
.project-creator-container{
    flex:1;
}





.project-creator-data,
.project-member-data{
    display:flex;
    align-items: center;
    margin:8% 0;
    
}

.project-creator-picture,
.project-member-picture{
    width:30px;
    height:30px;
    margin-right:1%;
    border-radius: 50%;
    display:inline-block;
}

.project-creator-name,
.project-member-name{
    display:inline-block;
    line-height:30px;
    margin-left:2%;
}



/* main design area */
.main-design-area{
    display:flex;

}

.main-design-center{
    flex:1;

}

/* note area */

.note-for-pin{
    width:20%;
    margin-top:5%;
    margin-right:1%;
}

.each-note{
    display:flex;
    flex-direction: column;
    background: rgba(214, 56, 100, 0.2); 
    border-radius: 5px;
    margin:5px 5px 5px 0;
    /* padding:5px; */
    /* border:1px solid lightgray; */

}

/* .each-note.selected .note-content{
    display:none;
} */
.note-content,
.note-form{
    display:none;
}

.note-instruction{
    display:flex;
    justify-content: space-between;
    padding:5%;
    
   
}
.note-check-status,
.note-uncheck-text{
    display:flex;
    align-items: center;
}
.note-uncheck-text,
.note-check-text{
    color:#D63864;
    font-size:8px;
    margin-left:5px;
}

.note-check,
.note-uncheck,
.note-delete{
    width:20px;
    cursor: pointer;
}
.each-note.selected .note-instruction{
    border-bottom:1px solid #D63864;
}

.each-note.selected .note-content{
    display:block;

}
.each-note.selected .each-context{
    padding:5% 5% 0 5%

}
.each-note.selected .each-context:last-child{
    padding-bottom: 5%;
}

.each-note.selected .note-writer{
    display:flex;
    align-items: center;
}

.each-note.selected .note-writer-name{
    font-size:8px;
    margin-left:5px;
}

.each-note.selected .note-writer-picture{
    width:30px;
    height:30px;
    border-radius: 50%;
}
.each-note.selected .note-context{
    padding-left:35px;
  
}

.each-note.selected .note-form{
    border-top:1px solid #D63864;
    display:block;
}
.each-note.selected .note-input{
    border: 0 none;
    resize:none;
    background: rgba(214, 56, 100, 0); 
    padding:5%;
    height:auto;
    width:90%;
    outline: none;
}
.each-note.selected .note-submit{
    float:right;
    margin:2%;
    outline:none;
    text-align:center;
    background:#D63864;
    cursor: pointer;
    border:none;
    border-radius: 5px;
    color:#fff;
}

/* version area */


.version-each{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:90%;
    background-color: #fff;
    box-shadow: 3px 3px 6px #666;
    margin-bottom: 5%;
    min-height:150px;

}

.version-name{
    font-size:8px;
}

.version-image{
    width:auto;
    height:auto;
    max-width:90%;
    max-height:90%;
    margin:0 5%;
}



.version-number{
    margin:5px 20%;
}


/* main design center with pin */


.select-design-text{
    margin:2%;
    color:lightgrey;
}

.pin-function{
    display:flex;
    width:250px;
    margin:10px;
    align-items: center;
   
    /* box-shadow: 1px 1px 2px #666;
    border-radius: 80px; */
}

.pin-button{
    display:flex;
    flex:1.5;
    justify-content: space-evenly;
    align-items: center;
    
    height:30px;
    margin: 2% 2%;
    /* box-sizing: border-box; */
    
    border: 1px solid lightgrey;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    
    text-align:center;
    line-height: 30px;
    font-size:15px;
   
    cursor: pointer;
    outline: none;
    border-radius: 20px;
    
}
.pin-button-img{
    width:15px;
    height:15px;
}
.pin-button.active{
    /* border-bottom:5px solid #990033; */
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.2),
                        2px 2px 4px -2px rgba(0, 0, 0, 0.5);

}
.pin-toggle-container{
    display:flex;
    align-items: center;
    flex:3;
    justify-content: space-evenly;
}
.toggle-slider{
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
}
    .toggle-slider:focus {
      outline: 0;
    }
    
    .toggle-slider:not(:disabled) {
      cursor: pointer;
    }
    
    .toggle-slider::before,
    .toggle-slider::after {
      content: "";
      display: inline-block;
      border-radius: 12px;
    }
    
    .toggle-slider::before {
      background-color: white;
      height: 12px;
      width: 20px;
      box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.2),
                        2px 2px 4px -2px rgba(0, 0, 0, 0.5);
    }
    
    .toggle-slider::after {
      content: attr(data-text-off);
      height: 10px;
      line-height: 10px;
      width: 12px;
      top: 2px;
      left: 1px;
      position: absolute;
      transition: left 0.1s ease-out;
      background-color: grey; 
      text-align: center;
      color: white;
    }
    
    .toggle-slider:checked::after {
      content: attr(data-text-on);
      left: 8px;
      background-color: #D63864;
    }
    
    .toggle-slider:disabled::after{
       
        background-color: grey;
      
    }
    .toggle-slider:disabled:checked::after {
        background-color: #D63864;
      }

    




.main-design-background{
    display:flex;
    justify-content: center;
    align-items: center;
  

}
.main-design-container{
    margin:10% 0;
    position:relative;
    max-width:80%;
    max-height:80%;
    
}
.main-design-picture{
    width:auto;
    height:auto;
    max-width: 100%;
    max-height:100%;
}
.main-design-cover{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:80;
    /* background-color:lightgreen;
    opacity: 50%; */
}

.pin{
   width:15px;
   position:absolute;
   top:-15px;
   cursor: pointer;
}
.each-pin.selected{
    width:15px;
    height:3px;
    border-radius: 50%;
    background: pink; 
}


.hide {
    display: none;
}

