.project-information-details{
    display:flex;
    flex-direction: column;
    width:90%;
    justify-content: center;
    margin: 50px auto;
    line-height: 24px;
    font-size:16px;
}

.project-info-item {
    margin-bottom: 10px;
}

.profile-reference-each{
    display:flex;
    align-items: center;
    border-top:1px solid #666;
    padding:2%;  
}
.profile-reference-each-image-container{
    flex:2;
    /* height:300px; */
    display:flex;
    justify-content: center;
    align-items: center;

}
.profile-reference-each-image{
    width:auto;
    height:auto;
    max-height:90%;
    max-width:90%;
}
.profile-reference-each-description{
    flex:1;
    align-self: flex-start;
}

.project-info-image{
    width:30%;
}

.project-info-edit{
    width:30px;
    height:30px;

}
